body {
  font-family: "Roboto", sans-serif;
}

.title_about {
  color: #612423;
  font-family: "Roboto", sans-serif;
}

.subtitle_about {
  color: #612423;
  font-family: "Roboto", sans-serif;
}

#about {
  background: #612423;
  height: 500px;
  margin-top: 10%;
}

#pic_about {
  width: 100%;
  border-radius: 15px;
  margin-right: 3%;
}

#text_about {
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#text_about p {
  margin-left: 7%;
  margin-right: 5%;
}

#founders {
  padding-left: 5%;
  padding-right: 5%;
}

#founders p,
#founders h2 {
  color: #612423;
}

.founders {
  color: #612423;
}

.name {
  color: #612423;
}

.name_text {
  color: #612423;
}

#single_pic {
  width: 70%;
  border-radius: 10px;
}
