@font-face {
  font-family: "Segoe1";
  src: url("/fonts/segoe-ui.ttf") format("truetype"),
    url("/fonts/segoe-ui.woff") format("woff"),
    url("/fonts/segoe-ui.woff2") format("woff2");
}

body {
  font-family: "Segoe1";
}

.title_about {
  color: #612423;
  font-family: "Segoe1";
}

.subtitle_about {
  color: #612423;
  font-family: "Segoe1";
}

#about {
  background: #612423;
  height: 500px;
}

#pic_about {
  width: 100%;
  border-radius: 15px;
}

#text_about {
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "Segoe1";
}

.founders {
  color: #612423;
}

.name {
  color: #612423;
}

.name_text {
  color: #612423;
}

#single_pic {
  width: 70%;
  border-radius: 50px;
}

.faq_main {
  background: rgba(148, 55, 53, 0.4);
  height: 40vw;
  margin-top: 10%;
}

.faq_title,
.faq_subtitle {
  color: #612423;
}

.panel-title {
  position: relative;
  background: #943735;
  color: #fff;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.panel-title::after {
  content: "\f107";
  color: #fff;
  top: -2px;
  position: absolute;
  font-family: "FontAwesome";
}

.panel-title[aria-expanded="true"]::after {
  content: "\f106";
}

.panel-body {
  background: #612423;
  border-radius: 0 0 10px 10px;
  position: relative;
  margin-top: -20px;
  color: #fff;
  margin-bottom: 20px;
}
