body {
  font-family: "Roboto", sans-serif;
}

.title_how_works,
.subtitle_how_works {
  color: #943735;
}

#team_products {
  width: 100%;
  border-radius: 15px;
}

#team_baskets {
  background: #e6b9b8;
  height: inherit;
}

#team_baskets h3:first-child {
  margin-top: 10%;
}

#team_baskets h3,
#team_baskets p {
  color: #612423;
  margin-left: 10%;
  margin-right: 10%;
}

.baskets_title {
  color: #612423;
  margin-top: 3%;
}

.baskets_title_flip {
  text-transform: uppercase;
}

.baskets_title_flip, .baskets_subtitle_flip {
  color: #612423;
}

.flip-container {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flipper {
  position: relative;
	width: 100%;
	height: 100%;
  transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

.front img {
  height: 210px;
}

.front, .back{
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
  background: #612423;
  color: #fff;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  position: relative;
  color: #612423;
}

.main-timeline {
  font-family: 'Poppins', sans-serif;
}

.main-timeline::after {
  content: '';
  display: block;
  clear: both;
}

.main-timeline .timeline {
  width: calc(50% + 65px);
  padding: 0 123px 0 0;
  float: left;
}

.main-timeline .timeline-content {
  color: #E07B74;
  background: linear-gradient(to top, transparent 50%, #E07B74 50%);
  text-align: center;
  min-height: 140px;
  padding: 15px;
  border-radius: 40px;
  display: block;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline-content::before {
  content: '';
  background: #fff;
  border-radius: 35px;
  position: absolute;
  left: 7px;
  right: 7px;
  top: 7px;
  bottom: 7px;
  z-index: -1;
}

.main-timeline .timeline-content:hover{ 
  text-decoration: none; 
}

.main-timeline .timeline-number{
    color: #fff;
    background: linear-gradient(transparent 50%, #E07B74 50%);
    font-size: 33px;
    line-height: 130px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: -123px;
    top: 50%;
    z-index: 1;
}

.main-timeline .timeline-number:before{
    content: '';
    background-color: #E07B74;
    border-radius: inherit;
    border: 10px solid #fff;
    position: absolute;
    left: 7px;
    right: 7px;
    top: 7px;
    bottom: 7px;
    z-index: -1;
}

.main-timeline .timeline-icon{ font-size: 35px; }
.main-timeline .title{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
}

.main-timeline .description{
    color: #777;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even){
    padding: 0 0 0 123px;
    float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-number{
    right: auto;
    left: -123px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    color: #BC6B5A;
    background: linear-gradient(to top,transparent 50%, #BC6B5A 50%);
    border-color: #BC6B5A;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-number{
    background: linear-gradient(transparent 50%, #BC6B5A 50%);
}

.main-timeline .timeline:nth-child(4n+2) .timeline-number:before{ 
  background: #BC6B5A; 
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content{
    color: #943735;
    background: linear-gradient(to top,transparent 50%, #943735 50%);
    border-color: #943735;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-number{
    background: linear-gradient(transparent 50%, #943735 50%);
}

.main-timeline .timeline:nth-child(4n+3) .timeline-number:before{ 
  background: #943735; 
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content{
    color: #612423;
    background: linear-gradient(to top,transparent 50%, #612423 50%);
    border-color: #612423;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-number{
    background: linear-gradient(transparent 50%, #612423 50%);
}

.main-timeline .timeline:nth-child(4n+4) .timeline-number:before{ 
  background: #612423; 
}

@media screen and (max-width:767px){
    .main-timeline .timeline{
        width: 100%;
        margin: 0 0 30px;
    }   
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        padding: 123px 0 0 0;
    }
    .main-timeline .timeline-number,
    .main-timeline .timeline:nth-child(even) .timeline-number{
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: -123px;
    }
}