body {
  font-family: "Roboto", sans-serif;
}

.title_contact,
.subtitle_contact {
  color: #943735;
}

textarea {
  resize: none !important;
}

.btn_contact {
  color: #fff;
  background: #612423;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

.btn_contact:hover {
  color: #000;
  background: #e07b74;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}
