body {
  font-family: "Roboto", sans-serif;
}

.title_how_works,
.subtitle_how_works {
  color: #943735;
}

#team_products {
  width: 100%;
  border-radius: 15px;
}

#team_baskets {
  background: #e6b9b8;
  height: 500px;
}

.baskets_title {
  color: #612423;
  line-height: 50px;
}

.baskets_text {
  color: #612423;
  letter-spacing: 0.5px;
}

.btn_stories {
  background: transparent;
  text-transform: uppercase;
  color: #612423;
  font-weight: bold;
  border: 3px solid #612423;
  padding: 10px;
}

.btn_stories:hover {
  background: #612423;
  color: #fff;
  text-decoration: none;
}

.baskets_title_flip,
.baskets_subtitle_flip {
  color: #943735;
}

.baskets_text_flip {
  color: #612423;
  line-height: 50px;
}

.products_main {
  background: #943735;
  height: 250vh;
}

.product_details {
  margin-top: 300px;
}

.product_title,
.product_subtitle {
  color: #fff;
}

.product_title {
  padding-top: 10%;
}

.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 10px;
  padding: 5px;
}

.description {
  display: none;
  position: absolute;
}

.container > div:hover {
  transform: scale(1.1);
}

.container > div:hover > .description {
  display: block;
  text-align: center;
}

.container > div:hover > img {
  opacity: 0.5;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
}
