* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-login {
  background-color: #612423;
  color: #fff;
}

.btn-login:hover {
  background-color: #e6b9b8;
}
