@media only screen and (max-width: 735px) {
  .cta-about {
    width: auto;
  }
}

@media only screen and (max-width: 991px) {
  .subscribe {
    background: #542a12;
    height: 70px;
    margin: -10px -16px !important;
    width: 104%;
  }

  .subscribe a {
    text-align: center;
    margin-left: 20px !important;
    margin-top: 0% !important;
  }
}

/*Index*/
@media only screen and (max-width: 360px) {
  #carouselExampleFade {
    margin-top: 200px;
  }
  .subscribe {
    background: #542a12;
    height: 90px;
    margin: -10px -16px !important;
    width: 110%;
  }

  .subscribe a {
    text-align: center;
    margin-left: 0px !important;
    margin-top: 0% !important;
  }

  #bg img{
    margin-bottom: 20%;
    position: relative;
  }

  .carousel-item img {
    width: 250px !important;
    height: 250px !important;
    margin-left: 17% !important;
    margin-top: 20% !important;
  }

  .cta-cesta {
    margin-top: 20%;
  }

  #carouselExampleFade .cta-cesta h2 {
    font-size: 17px;
    padding-top: 28% !important;
    width: 150% !important;
    text-align: center;
    margin-left: 20% !important;
  }

  #carouselExampleFade .cta-cesta p {
    font-size: 12px;
    width: 170%;
    text-align: center;
    margin-left: 10% !important;
  }

  #carouselExampleFade {
    background-color: #e6b9b8 !important;
    margin-top: -6% !important;
    margin-top: 200px;
    height: 650px !important;
  }

  #carouselExampleFade .cta-carousel {
    width: 150px !important;
    font-size: 12px;
    margin-left: -180% !important;
    margin-bottom: -230%;
  }

  #carouselExampleFade ol.carousel-indicators li {
    background: #612423 !important;
    border-radius: 100% !important;
    width: 6% !important;
    height: 0.5px;
  }

  #stories .card .card img {
    height: 170px !important;
    width: 170px !important;
    margin-top: -10% !important;
  }

  #stories .card .card #first {
    height: 170px !important;
    width: 170px !important;
    margin-top: -10% !important;
  }

  #stories .card .card #second {
    height: 170px !important;
    width: 170px !important;
    margin-top: -10% !important;
  }

  .informs {
    width: 270px;
    margin-left: -5%;
  }

  #plans .card {
    padding: 0px !important;
  }

  #brasilidade_photo {
    margin-left: -8% !important;
  }

  #subscribeForm input[type="text"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #subscribeForm input[type="email"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 411px) {
  @media only screen and (max-height: 731px) {
    .carousel-img {
      width: 250px !important;
      height: 250px !important;
      margin-left: 20% !important;
      margin-top: 10% !important;
    }
  
    ol.carousel-indicators li {
      background: #612423 !important;
      border-radius: 100% !important;
      width: 6% !important;
      height: 0.5px;
    }
  
    .cta-cesta {
      margin-top: 20%;
    }
  
    .cta-cesta h2 {
      font-size: 17px;
      padding-top: 2% !important;
      width: 150% !important;
      text-align: center;
      margin-left: 20% !important;
    }
  
    .cta-cesta p {
      font-size: 12px;
      width: 150%;
      text-align: center;
      margin-left: 20% !important;
    }
  
    .carousel .carousel-item {
      height: 7000px !important;
    }
  
    .cta-carousel {
      width: 150px !important;
      font-size: 12px;
      margin-left: -130% !important;
      margin-top: 100%;
    }
  
    #brasilidade_photo {
      margin-left: -2% !important;
    }
  
    #subscribeForm input[type="text"] {
      color: #542a12;
      margin-bottom: 10px;
      width: 100%;
    }
    
    #subscribeForm input[type="email"] {
      color: #542a12;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
  
@media only screen and (max-width: 411px) {
  .carousel .carousel-item {
    height: 580px !important;
  }

  .carousel-img {
    width: 250px !important;
    height: 250px !important;
    margin-left: 11% !important;
    margin-top: 10% !important;
  }

  ol.carousel-indicators li {
    background: #612423 !important;
    border-radius: 100% !important;
    width: 6% !important;
    height: 0.5px;
  }

  .cta-cesta h2 {
    font-size: 17px;
    padding-top: 7% !important;
    width: 210% !important;
    text-align: center;
    margin-left: -10% !important;
  }

  .cta-cesta p {
    font-size: 12px;
    width: 210%;
    text-align: center;
    margin-left: -10% !important;
  }

  .cta-carousel {
    width: 150px !important;
    font-size: 12px;
    margin-left: -260% !important;
    margin-bottom: 100%;
  }

  #bg img{
    margin-bottom: -27% !important;
    position: relative;
  }

  #stories .card-title {
    width: 100% !important;
    text-align: center !important;
    margin-left: 1% !important;
    font-size: 18px !important;
  }

  .informs {
    width: 200px;
    margin-left: -5%;
  }

  .purchase-plan {
    margin: 0px !important;
  }

  #brasilidade_photo {
    margin-left: -10% !important;
  }
}

@media only screen and (max-width:375px) {
  #bg img{
    margin-bottom: -4% !important;
    position: relative;
  }

  .carousel-img {
    width: 250px !important;
    height: 250px !important;
    margin-left: 17% !important;
    margin-top: 10% !important;
  }

  ol.carousel-indicators li {
    background: #612423 !important;
    border-radius: 100% !important;
    width: 6% !important;
    height: 0.5px;
  }

  .cta-carousel {
    width: 150px !important;
    font-size: 12px;
    margin-left: -180% !important;
    margin-bottom: 100%;
  }

  .informs {
    width: 285px;
    margin-left: -5%;
  }
}

@media only screen and (max-width:414px) {
  #bg img{
    margin-bottom: -3% !important;
    position: relative;
  }

  .carousel .carousel-item {
    height: 580px !important;
  }

  .carousel-img {
    width: 250px !important;
    height: 250px !important;
    margin-left: 19% !important;
    margin-top: 10% !important;
  }

  .cta-cesta h2 {
    font-size: 25px;
    padding-top: 60% !important;
    width: 210% !important;
    text-align: center;
    margin-left: -10% !important;
  }

  .cta-cesta p {
    font-size: 12px;
    width: 210%;
    text-align: center;
    margin-left: -10% !important;
  }

  ol.carousel-indicators li {
    background: #612423 !important;
    border-radius: 100% !important;
    width: 6% !important;
    height: 0.5px;
  }

  .cta-carousel {
    width: 150px !important;
    font-size: 12px;
    margin-left: -130% !important;
    margin-bottom: 100%;
  }

  .informs {
    width: 285px;
    margin-left: -5%;
  }

  #brasilidade_photo {
    margin-left: -2% !important;
  }

  #subscribeForm input[type="text"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #subscribeForm input[type="email"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #bg img{
    width: 100%;
    margin-bottom: -2%;
  }

  ol.carousel-indicators li {
    background: #612423 !important;
    border-radius: 100% !important;
    width: 3% !important;
    height: 0.5px;
  }

  .carousel-img {
    width: 270px !important;
    height: 270px !important;
    margin-left: 63% !important;
    margin-top: 10% !important;
  }

  .cta-cesta h2 {
    font-size: 30px;
    margin-top: -70% !important;
    width: 130% !important;
    margin-left: -10% !important;
  }

  .cta-cesta p {
    font-size: 18px;
    width: 120%;
    margin-left: -10% !important;
  }

  #stories img {
    margin-top: -15% !important;
  }

  #stories .card-title {
    width: 100% !important;
    text-align: center !important;
    font-size: 15px !important;
  }

  #stories .card img {
    height: 170px !important;
    width: 170px !important;
  }

  #stories #second {
    height: 170px !important;
    width: 170px !important;
    margin-top: -50% !important;
  }

  #stories #first {
    height: 170px !important;
    width: 170px !important;
    margin-top: -220% !important;
  }

  #plans-main .card-title {
    font-size: 15px !important;
    width: 100% !important;
  }

  #plans-main  #set-up {
    font-size: 12px !important;
  }

  #brasilidade_photo {
    margin-left: -2% !important;
  }

  #subscribeForm input[type="text"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #subscribeForm input[type="email"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  @media only screen and (max-height: 1366px) {
    #stories #first {
      height: 230px !important;
      width: 230px !important;
      margin-top: -80% !important;
    }

    #stories .card-title {
      width: 100% !important;
      text-align: center !important;
      font-size: 21px !important;
    }

    #stories .card img {
      height: 230px !important;
      width: 230px !important;
    }

    #plans-main .card-title {
      font-size: 20px !important;
      width: 100% !important;
    }

    #brasilidade_photo {
      margin-left: -2% !important;
    }
  
    #subscribeForm input[type="text"] {
      color: #542a12;
      margin-bottom: 10px;
      width: 100%;
    }
    
    #subscribeForm input[type="email"] {
      color: #542a12;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

/*About*/
@media only screen and (max-width: 360px) {
  #about {
    height: 800px;
  }

  #text_about {
    font-size: 12px;
    margin-top: 90%;
  }

  #pic_about {
    height: 300px;
    width: 300px;
    margin-left: 5%;
    margin-top: -380%;
  }
}

@media only screen and (max-width: 411px) {
  @media only screen and (max-height: 731px) {
    #about {
      height: 780px;
    }
  
    #text_about {
      font-size: 12px;
      margin-top: 90%;
    }
  
    #pic_about {
      height: 300px;
      width: 300px;
      margin-left: 12%;
      margin-top: -305%;
    }
  }
}

@media only screen and (max-width: 411px) {
  #about {
    height: 780px;
  }

  #text_about {
    font-size: 12px;
    margin-top: 90%;
  }

  #pic_about {
    height: 300px;
    width: 300px;
    margin-left: 12%;
    margin-top: -305%;
  }
}

@media only screen and (max-width: 320px) {
  #about {
    height: 850px;
  }

  #text_about {
    font-size: 12px;
    margin-top: 90%;
  }

  #pic_about {
    height: 250px;
    width: 250px;
    margin-left: 7%;
    margin-top: -470%;
  }
}

@media only screen and (max-width: 375px) {
  #about {
    height: 850px;
  }

  #text_about {
    font-size: 12px;
    margin-top: 90%;
  }

  #pic_about {
    height: 260px;
    width: 260px;
    margin-left: 7%;
    margin-top: -470%;
  }
}

@media only screen and (max-width: 414px) {
  #about {
    height: 950px;
  }

  #text_about {
    font-size: 14px;
    margin-top: 100%;
  }

  #pic_about {
    height: 350px;
    width: 350px;
    margin-left: 5%;
    margin-top: -380%;
  }
}

@media only screen and (max-width: 375px) {
  #about {
    height: 880px;
  }

  #text_about {
    font-size: 14px;
    margin-top: 90%;
  }

  #pic_about {
    height: 290px;
    width: 290px;
    margin-left: 7%;
    margin-top: -415%;
  }
}

@media only screen and (max-width: 768px) {
  #about {
    height: 850px;
  }

  #text_about {
    font-size: 15px;
    margin-top: 63%;
  }

  #pic_about {
    height: 450px;
    width: 450px;
    margin-left: 21%;
    margin-top: -160%;
  }
}

@media only screen and (max-width: 1024px) {
  #about {
    height: 1000px;
  }

  #text_about {
    font-size: 18px;
    margin-top: 50%;
  }

  #pic_about {
    height: 480px;
    width: 480px;
    margin-left: 23%;
    margin-top: -140%;
  }
}

/*Baskets*/
@media only screen and (max-width: 320px) {
  #baskets .flip-container:nth-child(2) {
    margin-bottom: 150px;
  }

  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 15%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }

  #subscribeForm input[type="text"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #subscribeForm input[type="email"] {
    color: #542a12;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  #baskets .flip-container:nth-child(2) {
    margin-bottom: 150px;
  }
  
  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 15%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}

@media only screen and (max-width: 411px) {
  @media only screen and (max-height: 731px) {
    #baskets .flip-container:nth-child(2) {
      margin-bottom: 100px;
    }

    .main-timeline {
      margin-top: 30%;
    }
  
    .main-timeline .timeline {
      padding: 10px 0;
      position: relative;
      z-index: 1;
    }
  
    .main-timeline .timeline-year {
      font-size: 25px;
      transform: translateY(0);
      top: 15%;
      left: 9%;
    }
    .main-timeline .content {
      width: 68%;
    }
    .main-timeline .title {
      font-size: 18px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year {
      right: 9%;
    }
  }
}

@media only screen and (max-width: 411px) {
  #baskets .flip-container:nth-child(2) {
    margin-bottom: 100px;
  }

  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 30%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}

@media only screen and (max-width:375px) {
  #baskets .flip-container:nth-child(2) {
    margin-bottom: 150px;
  }
  
  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 30%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}


@media only screen and (max-width:414px) {
  #baskets .flip-container:nth-child(2) {
    margin-bottom: 150px;
  }
  
  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 30%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}


@media only screen and (max-width: 768px) {  
  #baskets {
    height: 700px;
  }
  
  .main-timeline {
    margin-top: 30%;
  }

  .main-timeline .timeline {
    padding: 10px 0;
    position: relative;
    z-index: 1;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top: 35%;
    left: 9%;
  }
  .main-timeline .content {
    width: 68%;
  }
  .main-timeline .title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}


/*Brasilidade*/
@media only screen and (max-width: 320px) {
  .institutions {
    margin-top: 50%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 16;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 16;
    grid-row-end: 25;
  }
  
  .gallery__item--5 img {
    object-fit: cover;
    height: 230px;
    object-position: -10% 70%;
  }

  .gallery__2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__2__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .gallery__2__item--2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__2__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  
  .gallery__2__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .gallery__2__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  
  .gallery__2__item--6 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
@media only screen and (max-width: 360px) {
  .institutions {
    margin-top: 30%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 16;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 16;
    grid-row-end: 25;
  }
  
  .gallery__item--5 img {
    object-fit: cover;
    height: 230px;
    object-position: -10% 70%;
  }

  .gallery__2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__2__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .gallery__2__item--2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__2__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  
  .gallery__2__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .gallery__2__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  
  .gallery__2__item--6 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
@media only screen and (max-width: 411px) {
  @media only screen and (max-width: 731px){
    .institutions {
      margin-top: 10%;
    }
  
    .gallery {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(25, 5vw);
      grid-gap: 1.5rem;
      margin-left: 3%;
      margin-right: 3%;
    }
    
    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    
    .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 5;
    
    }
    
    .gallery__item--2 {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 5;
    }
    
    .gallery__item--3 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 5;
      grid-row-end: 10;
    }
    
    .gallery__item--4 {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 5;
      grid-row-end: 10;
    }
    
    .gallery__item--5 {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 10;
      grid-row-end: 16;
    }
    
    .gallery__item--6 {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 16;
      grid-row-end: 25;
    }
    
    .gallery__item--5 img {
      object-fit: cover;
      height: 230px;
      object-position: -10% 70%;
    }
  
    .gallery__2 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(15, 5vw);
      grid-gap: 1.5rem;
      margin-left: 3%;
      margin-right: 3%;
    }
    
    .gallery__2__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    
    .gallery__2__item--1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;
    }
    
    .gallery__2__item--2 {
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 6;
    }
    
    .gallery__2__item--3 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 8;
    }
    
    .gallery__2__item--4 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 9;
    }
    
    .gallery__2__item--5 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 8;
      grid-row-end: 11;
    }
    
    .gallery__2__item--6 {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 11;
      grid-row-end: 15;
    }
  }
}

@media only screen and (max-width: 414px){
  .institutions {
    margin-top: 10%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 10;
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 16;
  }
  
  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 16;
    grid-row-end: 25;
  }
  
  .gallery__item--5 img {
    object-fit: cover;
    height: 230px;
    object-position: -10% 70%;
  }

  .gallery__2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-gap: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .gallery__2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .gallery__2__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .gallery__2__item--2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__2__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  
  .gallery__2__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .gallery__2__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  
  .gallery__2__item--6 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
@media only screen and (max-width: 768px){
  .institutions {
    margin-top: 30%;
  }
}

/*Contact*/
@media only screen and (max-width: 320px) {}
@media only screen and (max-width: 360px) {}
@media only screen and (max-width: 411px) {
  @media only screen and (max-width: 731px){}
}
@media only screen and (max-width: 411px){}
@media only screen and (max-width: 375px){}
@media only screen and (max-width: 414px){}
@media only screen and (max-width: 768px){}
@media only screen and (max-width: 1024px) {
  @media only screen and (max-width: 1366px){}
}