* {
    margin: 0;
    padding: 0;
}

.title {
    float: left;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background: #612423;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.credit-card, .debit, .boleto {
    float: left;
    width: 25%;
    margin: 30px 1.5%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #612423;
    font-size: 18px;
    font-weight: bold;
    height: inherit;
}

.display-none {
    display: none;
}