html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  /*Ou e4d96f*/
}

/*Paleta
  #E07B74
  #BC6B5A
  #943735
  #E6B9B8
  #612423
*/

nav {
  background: #fff !important;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 22px;
}

.nav-link:hover {
  background: #612423;
  color: #fff !important;
  transition: all 0.5s ease;
}

#subscribe .nav-link:hover {
  background: #e6b9b8;
  color: #fff !important;
}

.navbar li a {
  text-align: center;
}

.subscribe {
  background: #612423;
  height: 176px;
  margin: -10px -15.5px !important;
  width: 200px;
}

.subscribe a {
  margin-top: 20% !important;
  margin-left: 30% !important;
  color: #fff;
}

.subscribe:hover {
  background: #e6b9b8;
}

#smallabout {
  background-image: url("../images/bg_index.png");
  background-size: contain;
  width: 100%;
}

#smallabout img {
  height: 300px;
  margin-left: 40vh;
}

.small-about-title {
  color: #943735;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.small-about-text {
  color: #612423;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.cta-about {
  background: #943735;
  color: white;
  width: 15%;
  margin-bottom: 10%;
}

.cta-about:hover {
  color: #000;
  background: #e6b9b8;
  transition: all 0.5s ease;
}

#carouselExampleFade {
  background-color: #e6b9b8 !important;
}

ol.carousel-indicators li {
  background: #612423 !important;
  border-radius: 100% !important;
  width: 2% !important;
  height: 0.5px;
}

.carousel-item img {
  border-radius: 10px;
  box-shadow: 15px 15px 15px #612423 !important;
}

.cta-carousel {
  background: #e07b74;
  text-transform: uppercase;
  color: #612423;
  font-weight: bold;
  margin-top: -200px;
  margin-left: -800px;
}

.cta-carousel:hover {
  background: #612423;
  color: #fff;
  transition: all 0.5s ease;
}

.carousel-item {
  height: 500px;
  z-index: 5;
}

.carousel-img {
  width: 300px !important;
  height: 300px !important;
  margin-left: 70% !important;
  /*border: 2px solid #542a12;*/
}

.cta-cesta h2 {
  margin-top: -40%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.cta-cesta p {
  margin-top: 2%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
}

.flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front img {
  height: 200px;
  width: 200px;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  height: 200px;
  width: 200px;
}

#stamps h1 {
  color: #542a12;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamps {
  height: 150px;
}

.stamp-title {
  font-weight: bold;
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamp-text {
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories {
  background: #612423;
  height: 180vh;
  margin-top: 30vh !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories .card img {
  width: 250px;
  height: 250px;
}

.stories h1 {
  padding-top: 100px;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.card {
  border: none !important;
}

.card-title {
  color: #612423;
  font-size: 40px;
  font-weight: bold;
  width: 300px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold !important;
}

.card-body {
  font-size: 20px;
  color: #612423;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.know-more {
  border: none;
  background: #612423;
  color: #fff;
}

.know-more:hover {
  background: #e07b74;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.know-more a {
  text-decoration: none;
  color: #fff;
}

.know-more a:hover {
  text-decoration: none;
  color: #000;
}

.informs {
  background: #e6b9b8;
  padding: 5px;
  color: #000;
  font-size: 20px;
}

.informs:hover {
  text-decoration: none;
  background: #f5f5f5;
  color: #000;
  transition: all 0.5s ease;
}

#plans .card-deck {
  margin-top: 100px;
}

#plans .card-body,
#plans .card {
  background: #943735 !important;
}

#plans .card-title,
#plans .card-text {
  color: #fff;
}

.purchase-option {
  color: #612423;
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.purchase-plan {
  background: #fff;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.purchase-plan:hover {
  background: #e6b9b8;
  color: #000;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer {
  color: #612423 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.contact-footer {
  margin: 20px 5px;
}

.contact-footer a {
  text-decoration: none;
  color: #612423;
}

#subscribeForm input[type="text"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="email"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="button"] {
  color: #fff;
  background: #612423;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

#subscribeForm input[type="button"]:hover {
  color: #000;
  background: #e07b74;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

/*Paleta
  #E07B74
  #BC6B5A
  #943735
  #E6B9B8
  #612423
*/

nav {
  background: #fff !important;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 22px;
}

.nav-link:hover {
  background: #612423;
  color: #fff !important;
  transition: all 0.5s ease;
}

#subscribe .nav-link:hover {
  background: #e6b9b8;
  color: #fff !important;
}

.navbar li a {
  text-align: center;
}

.subscribe {
  background: #612423;
  height: 176px;
  margin: -10px -15.5px !important;
  width: 200px;
}

.subscribe a {
  margin-top: 20% !important;
  margin-left: 30% !important;
  color: #fff;
}

.subscribe:hover {
  background: #e6b9b8;
}

#smallabout {
  background-image: url("../images/bg_index.png");
  background-size: contain;
  width: 100%;
}

#smallabout img {
  height: 300px;
  margin-left: 40vh;
}

.small-about-title {
  color: #943735;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.small-about-text {
  color: #612423;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.cta-about {
  background: #943735;
  color: white;
  width: 15%;
  margin-bottom: 10%;
}

.cta-about:hover {
  color: #000;
  background: #e6b9b8;
  transition: all 0.5s ease;
}

#carouselExampleFade {
  background-color: #bc6b5a !important;
}

ol.carousel-indicators li {
  background: #612423 !important;
  border-radius: 100% !important;
  width: 2% !important;
  height: 0.5px;
}

.carousel-item img {
  border-radius: 10px;
  box-shadow: 15px 15px 15px #612423 !important;
}

.cta-carousel {
  background: #e6b9b8;
  text-transform: uppercase;
  color: #612423;
  font-weight: bold;
  margin-top: -200px;
  margin-left: -800px;
}

.cta-carousel:hover {
  background: #612423;
  color: #fff;
  transition: all 0.5s ease;
}

.carousel-item {
  height: 500px;
  z-index: 5;
}

.carousel-img {
  width: 300px !important;
  height: 300px !important;
  margin-left: 70% !important;
  /*border: 2px solid #542a12;*/
}

.cta-cesta h2 {
  margin-top: -40%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.cta-cesta p {
  margin-top: 2%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #fff !important;
}

.flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front img {
  height: 200px;
  width: 200px;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  height: 200px;
  width: 200px;
}

#stamps h1 {
  color: #542a12;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamps {
  height: 150px;
}

.stamp-title {
  font-weight: bold;
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamp-text {
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories {
  background: #612423;
  height: 1000px;
  margin-top: 30vh !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories .card img {
  width: 250px;
  height: 250px;
}

.stories h1 {
  padding-top: 100px;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.card {
  border: none !important;
}

.card-title {
  color: #612423;
  font-size: 40px;
  font-weight: bold;
  width: 300px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold !important;
}

.card-body {
  font-size: 20px;
  color: #612423;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.informs {
  background: #e6b9b8;
  padding: 5px;
  color: #612423;
  font-size: 20px;
}

.informs:hover {
  text-decoration: none;
  background: #f5f5f5;
  color: #000;
  transition: all 0.5s ease;
}

#plans .card-deck {
  margin-top: 100px;
}

#plans .card-body,
#plans .card {
  background: #943735 !important;
}

#plans .card-title,
#plans .card-text {
  color: #fff;
}

.purchase-option {
  color: #612423;
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.purchase-plan {
  background: #fff;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.purchase-plan:hover {
  background: #e6b9b8;
  color: #000;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer {
  color: #612423 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.contact-footer {
  margin: 20px 5px;
}

.contact-footer a {
  text-decoration: none;
  color: #612423;
}

#subscribeForm input[type="text"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="email"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="button"] {
  color: #fff;
  background: #612423;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

#subscribeForm input[type="button"]:hover {
  color: #000;
  background: #e07b74;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #fff;
  /*Ou e4d96f*/
}

/*Paleta
  #E07B74
  #BC6B5A
  #943735
  #E6B9B8
  #612423
*/

nav {
  background: #fff !important;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 22px;
}

.nav-link:hover {
  background: #612423;
  color: #fff !important;
  transition: all 0.5s ease;
}

#subscribe .nav-link:hover {
  background: #e6b9b8;
  color: #fff !important;
}

.navbar li a {
  text-align: center;
}

.subscribe {
  background: #612423;
  height: 176px;
  margin: -10px -15.5px !important;
  width: 200px;
}

.subscribe a {
  margin-top: 20% !important;
  margin-left: 30% !important;
  color: #fff;
}

.subscribe:hover {
  background: #e6b9b8;
}

#smallabout {
  background-image: url("../images/bg_index.png");
  background-size: contain;
  width: 100%;
}

#smallabout img {
  height: 300px;
  margin-left: 40vh;
}

.small-about-title {
  color: #943735;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.small-about-text {
  color: #612423;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.cta-about {
  background: #943735;
  color: white;
  width: 15%;
  margin-bottom: 10%;
}

.cta-about:hover {
  color: #000;
  background: #e6b9b8;
  transition: all 0.5s ease;
}

#carouselExampleFade {
  background-color: #e6b9b8 !important;
}

ol.carousel-indicators li {
  background: #612423 !important;
  border-radius: 100% !important;
  width: 2% !important;
  height: 0.5px;
}

.carousel-item img {
  border-radius: 10px;
  box-shadow: 15px 15px 15px #612423 !important;
}

.cta-carousel {
  background: #e07b74;
  text-transform: uppercase;
  color: #612423;
  font-weight: bold;
  margin-top: -200px;
  margin-left: -800px;
}

.cta-carousel:hover {
  background: #612423;
  color: #fff;
  transition: all 0.5s ease;
}

.carousel-item {
  height: 500px;
  z-index: 5;
}

.carousel-img {
  width: 300px !important;
  height: 300px !important;
  margin-left: 70% !important;
  /*border: 2px solid #542a12;*/
}

.cta-cesta h2 {
  margin-top: -40%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.cta-cesta p {
  margin-top: 2%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
}

#stamps_line1,
#stamps_line2 p {
  font-size: 20px;
}

#stamps_line2 {
  padding-top: 10%;
}

#stamps img {
  width: 150px;
  height: 150px;
}

#stamps_line2 img {
  width: 150px;
  height: 150px;
}

#stamps h1 {
  color: #542a12;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamps {
  height: 150px;
}

#stamps_line1, #stamps_line2 {
  font-weight: bold;
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories {
  background: #612423;
  height: 180vh;
  margin-top: 30vh !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories .card img {
  width: 250px;
  height: 250px;
}

.stories h1 {
  padding-top: 100px;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.card {
  border: none !important;
}

.card-title {
  color: #612423;
  font-size: 40px;
  font-weight: bold;
  width: 300px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold !important;
}

.card-body {
  font-size: 20px;
  color: #612423;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.informs {
  background: #e6b9b8;
  padding: 5px;
  color: #612423;
  font-size: 20px;
}

.informs:hover {
  text-decoration: none;
  background: #f5f5f5;
  color: #000;
  transition: all 0.5s ease;
}

#plans .card-deck {
  margin-top: 100px;
}

#plans .card-body,
#plans .card {
  background: #943735 !important;
}

#plans .card-title,
#plans .card-text {
  color: #fff;
}

.purchase-option {
  color: #612423;
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.purchase-plan {
  background: #fff;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.purchase-plan:hover {
  background: #e6b9b8;
  color: #000;
  transition: all 0.5s ease;
  text-decoration: none;
}

#informs h1 {
  padding-top: 10%;
}

#informs h1, #informs p, #informs h4 {
  color: #612423;
}

#informs p {
  font-weight: bold;
  font-size: 20px;
}

.informs_btn {
  background: #612423;
  color: #fff !important;
  font-weight: normal !important;
}

.informs_btn:hover {
  background: #e07b74;
  color: #000 !important;
  text-decoration: none;
  font-weight: normal !important;
}

.informs_btn a {
  color: inherit;
  text-decoration: none;
}

footer {
  color: #612423 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.contact-footer {
  margin: 20px 5px;
}

.contact-footer a {
  text-decoration: none;
  color: #612423;
}

#subscribeForm input[type="text"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="email"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="button"] {
  color: #fff;
  background: #612423;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

#subscribeForm input[type="button"]:hover {
  color: #000;
  background: #e07b74;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}
