html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/images/Fundo.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/*Paleta
  #E07B74
  #BC6B5A
  #943735
  #E6B9B8
  #612423
*/

nav {
  background: #fff !important;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 21px;
}

.nav-link:hover {
  background: #612423;
  color: #fff !important;
  transition: all 0.5s ease;
}

#subscribe .nav-link:hover {
  background: #e6b9b8;
}

.navbar li a {
  text-align: center;
}

.subscribe {
  background: #612423;
  height: 176px;
  width: 200px;
}

.subscribe:hover {
  background: #e6b9b8;
}

#bg img {
  background-image: url("../images/Fundo_onda.png");
  background-size: contain;
  width: 100%;
  margin-top: -24%;
  height: 100%;
}

#bg-after img {
  background-image: url("../images/Fundo_onda.png");
  background-size: contain;
  width: 100%;
  transform: rotateX(180deg) rotateY(180deg);
  margin-top: -1%;
}

.small-about-title {
  color: #943735;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}

.small-about-text {
  color: #612423;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.cta-about {
  background: #943735;
  color: white;
  width: 15%;
  margin-bottom: 10%;
}

.cta-about:hover {
  color: #000;
  background: #e6b9b8;
  transition: all 0.5s ease;
}

#carouselExampleFade {
  background-color: #e6b9b8 !important;
  margin-top: -5.2%;
}

ol.carousel-indicators li {
  background: #612423 !important;
  border-radius: 100% !important;
  width: 2% !important;
  height: 0.5px;
}

.cta-cesta {
  margin-left: 7%;
  text-align: left;
}

.cta-carousel {
  background: transparent;
  text-transform: uppercase;
  color: #612423;
  font-weight: bold;
  border: 3px solid #612423;
  margin-top: 10%;
  margin-left: -390%;
}

.cta-carousel:hover {
  background: #612423;
  color: #fff;
  transition: all 0.5s ease;
}

.carousel-item {
  height: 500px;
  z-index: 5;
}

.carousel-img {
  width: 350px !important;
  height: 350px !important;
  margin-left: 60%;
}

.cta-cesta h2 {
  margin-top: -50% !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
  font-weight: bold;
  margin-left: 15%;
}

.cta-cesta p {
  margin-top: 5%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #612423 !important;
  margin-left: 15%;
}

.carousel-caption a {
  margin-top: -120% !important;
}

#stamps {
  margin-top: -30%;
}

#stamps_line1 h2,
#stamps_line2 h2 {
  color: #612423;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 20px;
}

.stamps {
  height: 150px;
}

.text-stamps {
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-top: 3%;
  font-size: 19px;
  font-weight: 500;
}

.stories {
  background: #612423;
  height: inherit !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories .card img {
  width: 250px;
  height: 250px;
}

.stories h1 {
  margin-top: 5%;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1% !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories_subtitle {
  font-size: 18px;
  color: #fff;

  margin-bottom: 1% !important;
  font-family: "Roboto", sans-serif;
}

#stories .card-text {
  font-size: 17px !important;
}

.img_stories {
  height: 250px !important;
  width: 250px !important;
}

.card-deck {
  margin-left: 30px;
  margin-right: 30px;
}

.card {
  border: none !important;
}

.card-title {
  color: #612423;
  font-size: 25px !important;
  font-weight: bold;
  width: 300px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold !important;
  text-align: center;
}

.card-body {
  font-size: 20px;
  color: #612423;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.know-more {
  border: none;
  border-radius: 5px;
  background: #612423;
  color: #fff;
}

.know-more:hover {
  background: #e07b74;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.know-more a {
  text-decoration: none;
  color: #fff;
}

.know-more a:hover {
  text-decoration: none;
  color: #000;
}

.informs {
  background: #e6b9b8;
  padding: 5px;
  color: #000;
  font-size: 20px;
  border-radius: 5px;
}

.informs:hover {
  text-decoration: none;
  background: #f5f5f5;
  color: #000;
  transition: all 0.5s ease;
}

#plans .card-deck {
  margin-top: 100px;
}

#plans .card-body,
#plans .card {
  background: #e6b9b8 !important;
}

#plans .card-title,
#plans .card-text {
  color: #612423;
}

.purchase-option {
  color: #612423;
  margin-top: 10vh;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.purchase-plan {
  background: #612423;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  background: transparent;
  color: #612423;
  border: 3px solid #612423;
}

.purchase-plan:hover {
  background: #612423;
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer {
  color: #612423 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-top: 10%;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 20px;
}

footer h5 {
  font-size: 15px;
}

.contact-footer {
  margin: 17px 5px;
}

.contact-footer a {
  text-decoration: none;
  color: #612423;
}

#subscribeForm input[type="text"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="email"] {
  color: #542a12;
  margin-bottom: 10px;
}

#subscribeForm input[type="button"] {
  color: #fff;
  background: #612423;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
}

#subscribeForm input[type="button"]:hover {
  color: #000;
  background: #e07b74;
  border: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.navbar li a {
  text-align: center;
}

.subscribe {
  background: #612423;
  height: 176px;
  margin: -10px -15.5px !important;
  width: 200px;
}

.subscribe a {
  margin-top: 20% !important;
  color: #fff;
}

.subscribe:hover {
  background: #e6b9b8;
}

.small-about-text {
  color: #612423;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.cta-about {
  background: #943735;
  color: white;
  width: 15%;
  margin-bottom: 20%;
}

.cta-about:hover {
  color: #000;
  background: #e6b9b8;
  transition: all 0.5s ease;
}

ol.carousel-indicators li {
  background: #612423 !important;
  border-radius: 100% !important;
  width: 2% !important;
  height: 0.5px;
}

.flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front img {
  height: 200px;
  width: 200px;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  height: 200px;
  width: 200px;
}

#stamps h1 {
  color: #542a12;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-top: 40%;
}

.stamps {
  height: 150px;
}

.stamp-title {
  font-weight: bold;
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stamp-text {
  color: #542a12;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.stories .card img {
  width: 250px;
  height: 250px;
}

.card {
  border: none !important;
}

.card-body {
  font-size: 20px;
  color: #612423;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

#plans .card-deck {
  margin-top: 100px;
}

.informs_btn {
  background: #612423;
  color: #fff !important;
  font-weight: normal !important;
}

.informs_btn:hover {
  background: #e07b74;
  color: #000 !important;
  text-decoration: none;
  font-weight: normal !important;
}

.informs_btn a {
  color: inherit;
  text-decoration: none;
}

#brasilidade {
  background: #e6b9b8;
  margin-top: 10%;
  height: inherit;
  padding-bottom: 5% !important;
}

#brasilidade h1 {
  text-transform: uppercase;
  color: #612423;
}

#brasilidade .brasilidade_title {
  padding-top: 6%;
  font-size: 35px;
  padding-bottom: 3%;
}

#brasilidade p {
  color: #612423;
  font-size: 18px;
}

#brasilidade img {
  height: 300px;
  width: 300px;
  margin-left: 15%;
}

.brasilidade_btn {
  margin-top: 12%;
}

footer {
  color: #612423 !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

footer h2 {
  font-size: 20px;
}

footer p {
  font-size: 15px;
}

#stamps_line2 {
  padding-top: 5%;
}

#stamps img {
  width: 150px;
  height: 150px;
}
